{% load static %} {% csrf_token %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{% static 'styes.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1 id="bloghead">Harshavardhan's Blog</h1>
    {% for post in poster %}
    <div style="border-style: solid;" class="blog">
        <h1>{{post.heading}}</h1>
        <h5>{{post.created_at}}</h5>
        <p>{{post.body}}</p>
    </div>
    <br> {% endfor %}
</body>

</html>