#newbord {
    text-align: center;
    background-color: #161B22;
    margin-left: auto;
    width: 308px;
    border: 5px;
    border-style: groove;
    border-radius: 12px;
    margin-right: auto;
    position: relative;
    border-color: green;
    color: #F0F6FC;
    font: 14px -apple-system, BlinkMacSystemFont;
    margin-top: auto;
    margin-bottom: auto;
}

body {
    text-align: center;
    background-color: #0D1117;
}

.inputbox {
    color: #F0F6FC;
    border-style: system;
    background-color: #465A7E66;
    border-radius: 10px;
    width: 274px;
    height: 32px;
}

.container {
    height: 250px;
}

#submit {
    background-color: #238636;
    width: 274px;
    height: 32px;
    border-radius: 7px;
}

a {
    color: #58A6FF;
    text-decoration: none;
}

#heading {
    font-size: 24px;
    font: 26px -apple-system, BlinkMacSystemFont;
    color: #F0F6FC;
}

.blog {
    border-radius: 10px;
    border-color: aqua;
    border-style: solid;
    border: 5px;
}

#bloghead {
    background-color: red;
    text-align: center;
    border-radius: 12px;
    border-style: solid;
}