{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{% static 'game.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1 style="color: white;">Um, so this game is in development. So kindly play it for atleast 5 minutes and don't leave my site.</h1>
    <iframe src="https://elgoog.im/t-rex/3d/" frameborder="0" width="1000px" height="600px" style="background-color: #161B22; "></iframe>
</body>

</html>